@use '_variables.scss' as *;
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
}

.wrapper {
    padding: 0 30px;
    @media (min-width: $desctop) {
        padding: 0 60px;
    }
    @media (min-width: $desctopBig) {
        padding: 0 120px;
    }
}