@use '_variables.scss' as *;
@use '_mixin.scss' as *;
.sectionLogo {
    .title {
        @include styleText(#323264, 14px, 700, 1);
        @include margin(60px, 30px);
        text-transform: uppercase;
        text-align: center;
    }
    .wrapperLogo {
        @media (min-width: $tablet) {
            @include displayFlex;
            flex-wrap: wrap;
        }
        &>div {
            @include displayFlex;
            height: 120px;
            &:nth-child(n+7) {
                display: none;
            }
            @media (min-width: $tablet) {
                width: 33.3%;
                &:nth-child(n+7) {
                    display: flex;
                }
            }
            @media (min-width: $desctop) {
                width: 25%;
            }
            img {
                transition: 1s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .logo1 {
            background: #1C4280;
        }
        .logo2 {
            background: #143646;
        }
        .logo3 {
            background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
        }
        .logo4 {
            background: #9E4DC3;
        }
        .logo5 {
            background: #FD9339;
        }
        .logo6 {
            background: #E2E2E4;
        }
        .logo7 {
            background: #C71C36;
        }
        .logo8 {
            background: #DCF3F9;
        }
        .logo9 {
            background: #EAEAEA;
        }
        .logo10 {
            background: #282240;
        }
        .logo11 {
            background: #1D4568;
        }
        .logo12 {
            background: #000;
        }
    }
}