@use 'variables' as *;
@mixin margin($mx, $my) {
    margin-top: $mx;
    margin-bottom: $my;
}

@mixin widthHeight($w, $h) {
    width: $w;
    height: $h;
}

@mixin styleText($col, $fs, $fw, $lh) {
    color: $col;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin beforeAfter($background, $b, $r, $l) {
    content: '';
    border-radius: $borderRadius;
    display: block;
    height: 10px;
    position: absolute;
    background: $background;
    top: $b;
    right: $r;
    left: $l;
}

@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin gridCol($q) {
    grid-template-columns: repeat($q, 1fr);
}

@mixin paddingLeftRight($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}

@mixin paddingMobile {
    @include paddingLeftRight(30px, 30px);
}

@mixin paddingTablet {
    @media (min-width: $tablet) {
        @include paddingLeftRight(60px, 60px);
    }
}

@mixin paddingDescBig {
    @media (min-width: $desctopBig) {
        @include paddingLeftRight(160px, 160px);
    }
}

@mixin hamburgerLine {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin backgroundGradient {
    background: $backgroundTextGradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}