@use '_variables' as *;
@mixin margin($mx, $my) {
    margin-top: $mx;
    margin-bottom: $my;
}

@mixin widthHeight($w, $h) {
    width: $w;
    height: $h;
}

@mixin styleText($col, $fs, $fw, $lh) {
    color: $col;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin beforeAfter($background, $b, $r, $l) {
    content: '';
    border-radius: $borderRadius;
    display: block;
    height: 10px;
    position: absolute;
    background: $background;
    bottom: $b;
    right: $r;
    left: $l;
}

@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridCol($q) {
    grid-template-columns: repeat($q, 1fr);
}

@mixin paddingMobile {
    padding-left: 30px;
    padding-right: 30px;
}

@mixin paddingTablet {
    @media (min-width: $tablet) {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@mixin paddingDescBig {
    @media (min-width: $desctopBig) {
        padding-left: 160px;
        padding-right: 160px;
    }
}