@use 'variables' as *;
@use 'mixin' as *;
.sectionServices {
    border-radius: $borderRadius;
    background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 20px;
    &::before {
        @include beforeAfter(#CACADB, 100%, 20px, 20px);
    }
    &::after {
        @include beforeAfter(#E7E7F2, calc(100% + 10px), 40px, 40px);
    }
    .wrapper {
        @media (min-width: $tablet) {
            .title {
                margin-bottom: 60px
            }
        }
        .nameTitle {
            @include margin(0, 12px);
        }
        .wrapperListServices {
            @media (min-width: $tablet) {
                display: grid;
                gap: 60px;
                @include gridCol(2);
            }
            @media (min-width: $desctop) {
                @include gridCol(3);
            }
            .cartServices {
                @include margin(0, 30px);
                &:last-of-type {
                    @include margin(0, 0);
                }
                @media (min-width:$tablet) {
                    @include margin(0, 0);
                }
                .wrappImg {
                    .containerServices {
                        @include displayFlex;
                        @include widthHeight(92px, 92px);
                        @include margin(0, 30px);
                        background-color: $white;
                        border-radius: 24px;
                    }
                    .nameServices {
                        @include styleText($blue, 22px, 700, 28px);
                        @include margin(0, 15px);
                    }
                    .descriptionServices {
                        @include styleText($white, 16px, 400, 26px);
                        @include margin(0, 0);
                    }
                }
            }
        }
    }
}