@use 'variables' as *;
@use 'mixin' as *;
.sectionTeams {
    padding-top: 60px;
    padding-bottom: 60px;
    .dots {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        .dot {
            @include widthHeight(16px, 16px);
            background-color: $blue;
            opacity: .2;
            margin-right: 15px;
            border-radius: 50%;
            &:last-of-type {
                margin: 0;
            }
        }
        .active {
            background-color: $blue;
            opacity: 1;
        }
    }
    .container {
        background: #EDEDF7;
        border-radius: 12px;
        overflow: hidden;
        @media (min-width: $desctop) {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        .wrapper-img {
            background-image: url('#{$path}image-blog.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include widthHeight(100%,
            500px);
            @media (min-width: $desctop) {
                @include widthHeight(100%, auto);
            }
        }
        .wrapperInfo {
            padding: 30px;
            .nameTitle {
                @include margin (0,
                5px);
            }
            .name {
                @include styleText(#B3B3BA,
                16px,
                700,
                16px);
                @include margin (0,
                6px);
            }
            .jobTitle {
                @include styleText(#B3B3BA,
                14px,
                400,
                22px);
                @include margin (0,
                0px);
            }
        }
    }
}

@media (min-resolution: 192dpi) {
    .sectionTeams .container .wrapper-img {
        background-image: url('#{$path}image-blog@2x.jpg');
    }
}

@media (min-resolution: 288dpi) {
    .sectionTeams .container .wrapper-img {
        background-image: url('#{$path}image-blog@3x.jpg');
    }
}