$mobile: 375px;
$tablet: 768px;
$desctop: 1024px;
$desctopBig: 1600px;
$white: #fff;
$backgroundTextGradient: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
$blue:#24A3FF;
$borderRadius: 0px 0px 12px 12px;
$path: '../images/';